<a routerLink="/">Wróć do strony głównej</a>
<div [hidden]="!paid && !waitingForPayment && timeUp">
    <div>{{trip?.country}} Wycieczka do miejscowości {{trip?.city}} do hotelu {{trip?.hotelName}}</div>
    <div>Od {{trip?.beginDate | date: 'yyyy/MM/dd'}} do {{trip?.endDate | date: 'yyyy/MM/dd'}}</div>
    <div>Z pokojami<br>
    <div *ngFor="let numOfRooms of trip?.roomCombination; index as i">
        <div *ngIf="numOfRooms > 0">
            <span>{{numOfRooms}} {{numOfRooms == 1 ? "Pokój" : "Pokoje"}} {{i+1}}os. typu {{trip!.chosenRooms![i+1].typeOfRoom}} za cenę {{trip!.chosenRooms![i+1].pricePerRoom}}</span>
        </div>
    </div>
    </div>
    <div>
    Lecąc z {{trip?.chosenFlight?.departure}}: Cena biletów per osoba w dwie strony {{trip?.chosenFlight?.pricePerSeat}}
    </div>
    <div>
    Z wybranym typem posiłków {{trip?.chosenMeal}}
    </div>
    <div>
    Dla {{numberOfAdults}} {{numberOfAdults > 1 ? "dorosłych" : "dorosłego"}} i {{numberOfChildren}} {{numberOfChildren > 1 ? "dzieci" : "dziecka"}}
    </div>
    <div>
    Cena łączna {{this.trip?.price | number: "1.2-2"}} zł
    </div>
    <div [hidden]="paid">
    Czas do zapłacenia {{this.display}}
    </div>
    <button [disabled]="timeUp || waitingForPayment || paid" (click)="tryPaying()">Zapłać</button>
</div>
<div *ngIf="this.result$ | async">
    {{this.result$ | async}}
</div>
<div [hidden]="!timeUp || waitingForPayment || paid">
    Skończył się czas rezerwacji. Przekierowujemy do ekranu głównego
</div>