<a id="login" routerLink="/login">Login</a>
<a id="admin-panel" routerLink="/admin">Admin Panel</a>
<div>
  <label for="destination">Destynacja</label>
  <select id="destination-select" name="destination" [(ngModel)]="destination">
    <option *ngFor="let country of destinations" [ngValue]="country">
      {{ country }}
    </option>
  </select>
  <label for="startDate">Data wylotu</label>
  <input id="start-date" type="date" name="startDate" [(ngModel)]="startDate" />
  <label for="endDate">Data powrotu</label>
  <input id="end-date" type="date" name="endDate" [(ngModel)]="endDate" />
  <label for="startCity">Miejsce wylotu</label>
  <select id="city-select" name="startCity" [(ngModel)]="startCity">
    <option *ngFor="let city of startCities" [ngValue]="city">
      {{ city }}
    </option>
  </select>
  Number of adults: {{numberOfAdults}} 
  <button (click)="addAdult()" [disabled]="canIncreasePeople">+</button>
  <button (click)="minusAdult()" [disabled]="canDecreaseAdults">-</button>
  Number of children: {{numberOfChildren}} 
  <button id="add-child-button" (click)="addChild()" [disabled]="canIncreasePeople">+</button>
  <button (click)="minusChild()" [disabled]="canDecreaseChildren">-</button>
  <button id="search-button" (click)="search()">Szukaj</button>
  <div [hidden]="!notAllValuesPresent">
    Nie wszystkie pola zostały wypełnione
  </div>
</div>
<div [hidden]="noMatchesFound">
  <div>Wyniki wyszukiwania</div>
  <div *ngFor="let trip of result$ | async">
    <span id="trip-span">
      Hotel: {{ trip.hotelName }}, {{ trip.city }} Miasto wylotu:
      {{ trip.chosenFlight.departure }}
      Cena {{trip.price | number: "1.2-2"}} zł 
      Od {{transformDate(trip.beginDate)}} Do {{transformDate(trip.endDate)}}
    </span>
    <button id="choose-button" (click)="detail(trip)">Wybierz</button>
  </div>
</div>
<div [hidden]="!noMatchesFound">
  Nie znaleziono wyników dla podanych parametrów
</div>

