<a routerLink="/login">Login</a>
<div>
  <label for="destination">Destynacja</label>
  <select name="destination" [(ngModel)]="destination">
    <option *ngFor="let country of destinations" [ngValue]="country">
      {{ country }}
    </option>
  </select>
  <label for="startDate">Data wylotu</label>
  <input type="date" name="startDate" [(ngModel)]="startDate" />
  <label for="endDate">Data powrotu</label>
  <input type="date" name="endDate" [(ngModel)]="endDate" />
  <label for="startCity">Miejsce wylotu</label>
  <select name="startCity" [(ngModel)]="startCity">
    <option *ngFor="let city of startCities" [ngValue]="city">
      {{ city }}
    </option>
  </select>
  <label for="adults">Liczba dorosłych</label>
  <input
    type="number"
    name="adults"
    [(ngModel)]="adults"
    min="1"
    max="100"
    step="1"
  />
  <label for="children">Liczba dzieci</label>
  <input
    type="number"
    name="children"
    [(ngModel)]="children"
    min="0"
    max="100"
    step="1"
  />
  <button (click)="search()">Szukaj</button>
  <div [hidden]="!notAllValuesPresent">
    Not all fields of form have been filled
  </div>
</div>
<div *ngIf="result.length > 0">
  <div>Wyniki wyszukiwania</div>
  <div *ngFor="let trip of result">
    <span>
      Hotel: {{ trip.HotelName }}, {{ trip.City }} Miasto wylotu:
      {{ trip.ChosenFlight.Departure }}
      Cena {{trip.Price}} zł
    </span>
    <button (click)="detail(trip)">Wybierz</button>
  </div>
</div>

