<a routerLink="/">Wróć do strony głównej</a>
<h1>Wycieczka do hotelu {{hotelName}} w {{destinationName}}</h1>
<div [hidden]="!configurationNotAvailable">
    <p>W przedziałach czasowych </p>
<p>Cena za osobę {{priceRounded}}</p>
<p>Dla pokoju Pokój {{numberOfPeople}}os.</p>
<div>Typ posiłku: <select [(ngModel)]="mealType">
<option [value]="mealType" *ngFor="let mealType of this.mealTypes">{{mealType}}</option>
</select>
</div>
<div>Wybrany lot <select [ngModel]="chosenFlight" (ngModelChange)="flightChanged($event)">
<option [value]="flight" *ngFor="let flight of flights">{{flight.Departure}}:{{flight.PricePerSeat}}zł</option>
</select></div>
<div>
    Number of adults: {{numberOfAdults}} 
    <button (click)="addAdult()" [disabled]="canIncreasePeople">+</button>
    <button (click)="minusAdult()" [disabled]="canDecreaseAdults">-</button><br>
    Number of children: {{numberOfChildren}} 
    <button (click)="addChild()" [disabled]="canIncreasePeople">+</button>
    <button (click)="minusChild()" [disabled]="canDecreaseChildren">-</button>
</div>
</div>
<div [hidden]="configurationNotAvailable">
    Konfiguracji nie znaleziono
</div>
